.hero {
  position: relative;
  height: 100%;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.267), rgba(0, 0, 0, 0.384)),url('..//..//assets/jr-korpa-ZkngO3nRFCY-unsplash.jpg');
  background-position: center;
  background-size: cover;
  height: 100%;
}


