<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav>

      <mat-nav-list (click)="sidenav.close()">

          <a mat-list-item routerLink="/">
              <mat-icon>home</mat-icon>
              <span>Home</span>
          </a><br>

          <a mat-list-item routerLink="about">
              <mat-icon>question_answer</mat-icon>
              <span>About</span>
          </a><br>

          <a mat-list-item routerLink="resume">
              <mat-icon>attachment</mat-icon>
              <span>Resume</span>
          </a><br>

          <a mat-list-item routerLink="projects">
              <mat-icon>lightbulb</mat-icon>
              <span>Projects</span>
          </a><br>

          <a mat-list-item routerLink="database-diagrams">
              <mat-icon>table_chart</mat-icon>
              <span>Database Diagrams</span>
          </a><br>

          <a mat-list-item routerLink="api-unit-tests">
            <mat-icon>api</mat-icon>
            <span>Api Unit Tests</span>
        </a><br>

        <a mat-list-item routerLink="presentations">
          <mat-icon>co_present</mat-icon>
          <span>Presentations</span>
      </a><br>

      </mat-nav-list>


  </mat-sidenav>


  <mat-toolbar>

      <button mat-icon-button (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
      </button>

      <p>Chad ONeal's<br>Personal Portfolio</p>

</mat-toolbar>

<router-outlet></router-outlet>
<app-hero></app-hero>


</mat-sidenav-container>




