<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav>

      <mat-nav-list (click)="sidenav.close()">

          <a mat-list-item routerLink="/">
              <mat-icon>home</mat-icon>
              <span>Home</span>
          </a><br>

          <a mat-list-item routerLink="about">
              <mat-icon>question_answer</mat-icon>
              <span>About</span>
          </a><br>

          <a mat-list-item routerLink="resume">
              <mat-icon>drag_indicator</mat-icon>
              <span>Resume</span>
          </a><br>

          <a mat-list-item routerLink="projects">
              <mat-icon>park</mat-icon>
              <span>Projects</span>
          </a><br>

          <a mat-list-item routerLink="database-diagrams">
              <mat-icon>import_export</mat-icon>
              <span>Database Diagrams</span>
          </a><br>

          <a mat-list-item routerLink="api-unit-tests">
            <mat-icon>import_export</mat-icon>
            <span>Api Unit Tests</span>
        </a><br>

        <a mat-list-item routerLink="presentations">
          <mat-icon>import_export</mat-icon>
          <span>presentations</span>
      </a><br>

      </mat-nav-list>


  </mat-sidenav>


  <mat-toolbar>

      <button mat-icon-button (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
      </button>



</mat-toolbar>




<router-outlet></router-outlet>


</mat-sidenav-container>


