body {
  margin: 0;
}

main {
  margin: 30px;
}

mat-toolbar {
background-color: #CCC5C6;
height: 125px;
}

mat-toolbar p {
  color: #47525E;
  font-family: 'Karla';
  font-size: 34px;
  align-items: center;
  margin-left: 5%;
}

span {
  padding-left: 10px;
}











