.hero-image {
  background-image: url('..//..//assets/jr-korpa-ZkngO3nRFCY-unsplash.jpg');
  background-size: cover;
  height: 100vh;
  position: relative;
}

.card-container {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0; /* set the z-index to a value higher than the hero image */
  width: 350px;
  height: 100px;
  background-color: #F8F8F8;
  border-radius: 5%;
}

img {
  position: absolute;
  margin-top: -47%;
  left: 50;
  width: 150px;
  height: 150px;
  border-radius: 15%;
}

mat-card-content {
  margin-top: 50%;
  font-size: 24px;
  font-family: Karla;
}

button {
  margin-top: 8%;
  margin-left: 16%;
  width: 70%;
  height: 40%;
  background-color: #CCC5C6;
  color: #47525E;
  align-items: center;
  border: none;
  border-radius: 12px;
  box-shadow: rgba(145, 2, 2, 0.863) 0 15px 30px -5px;
  box-sizing: border-box;
  font-family: 'Karla';
  line-height: -1em;
  text-decoration: none;
  cursor: pointer;
  font-size: 24px;
}

button:hover {
  color: #F8F8F8;
  transition: .20s;
}
