<div class="hero-image">
  <!-- hero image here -->
  <div class="card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Welcome to my Portfolio!
        </mat-card-title>
      </mat-card-header>
      <mat-card-content >
        <img src="..//..//assets/chad-oneal.jpg" alt="Card Image" class="card-image">
        This portfolio built with Angular contains all of the coursework and
        projects that I have completed at Bellevue University. Please feel free
        to learn more and look around while you are here!
      </mat-card-content>
    </mat-card>
    <button routerLink="about">Learn More</button>
  </div>
</div>

